<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title>Random Animal Pictures API</title>
    <link rel="icon" href="/favicon.ico" type="image/png">
    <script src="scripts.js" type="module"></script>
</head>

<body>
    <div class="navigationBar">
        <a href="index.html">
            <div class="navButtons">
                Home
            </div>
        </a>
        <a href="page2.html">
            <div class="navButtons">
                Guestbook
            </div>
        </a>
        <a href="page3.html">
            <div class="navButtons">
                Links
            </div>
        </a>
        <a href="page4.html">
            <div class="navButtons">
                Gallery of Builds
            </div>
        </a>
        <a href="weather.html">
            <div class="navButtons">
                Weather
            </div>
        </a>
        <a href="catPics.html">
            <div class="navButtons">
                Animal Pics
            </div>
        </a>
    </div>
    <div class="textDiv">
        <!-- <button>Generate Cat!</button> -->
        <button id="GetNewCat">Get a Cat!</button>
        <button id="GetNewDog">Get a Dog!</button>
        <!-- <img src="/catpic.png"> -->
        <div id="animalPictureBox">
            <img id="animalImg">
        </div>
    </div>
    <footer></footer>
</body>

</html>