<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles.css">
  <link rel="icon" href="/favicon.ico" type="image/png">
  <title>Gallery</title>
  <script src="scripts.js" type="module"></script>
</head>

<body>
  <div class="navigationBar">
    <a href="index.html">
      <div class="navButtons">
        Home
      </div>
    </a>
    <a href="page2.html">
      <div class="navButtons">
        Guestbook
      </div>
    </a>
    <a href="page3.html">
      <div class="navButtons">
        Links
      </div>
    </a>
    <a href="page4.html">
      <div class="navButtons">
        Gallery of Builds
      </div>
    </a>
    <a href="weather.html">
      <div class="navButtons">
        Weather
      </div>
    </a>
    <a href="catPics.html">
      <div class="navButtons">
        Animal Pics
      </div>
    </a>
  </div>

  <h1>Computers I've Built</h1>
  <div class="pictureBox">
    <label for="ariannePC">Arianne's PC</label>
    <label for="camPC1">Cameron's PC</label>
    <label for="camPC2">Cameron's PC</label>
    <a href="images/AriannePC.jpg" target="_blank">
      <img src="images/thumbnails/AriannePC.png" class="pictureFrame" name="ariannePC">
    </a>

    <a href="images/CamPC1.jpg" target="_blank">
      <img src="images/thumbnails/CamPC1.png" class="pictureFrame" name="camPC1">
    </a>
    <a href="images/CamPC2.jpg" target="_blank">
      <img src="images/thumbnails/CamPC2.png" class="pictureFrame" name="camPC2">
    </a>
    <label for="luisPC">Luis's PC</label>
    <label for="tower1">Tower</label>
    <label for="tower2">Tower</label>
    <a href="images/LuisPC.jpg" target="_blank">
      <img src="images/thumbnails/LuisPC.png" class="pictureFrame" name="luisPC">
    </a>
    <a href="images/Tower1.jpg" target="_blank">
      <img src="images/thumbnails/Tower1.png" class="pictureFrame" name="tower1">
    </a>
    <a href="images/Tower2.jpg" target="_blank">
      <img src="images/thumbnails/Tower2.png" class="pictureFrame" name="tower2">
    </a>
  </div>

  <div class="textDiv">
    <p>
      This is by no means an exhaustive list of systems I've built over the years, these are just some of the most
      recent.
    </p>
  </div>

  <div class="textDiv">
    <h3>Some details on these systems: </h3>
    <h4>(Ordered by how difficult they were to build/configure)</h4>
    <ol>
      <li>
        Tower
        <ul>
          <li>
            This system was built for my sister and her children.
          </li>
          <li>
            Originally I had built it so she could do some work from home jobs but she never ended up needing it.
          </li>
          <li>
            Now it's actually a server that hosts two virtual machines, each with a GPU and PCI USB card passed
            through.
          </li>
        </ul>
      </li>
      <li>
        Cameron's PC
        <ul>
          <li>
            This system and another that's nearly identical was built for my cousin.
          </li>
          <li>
            The parts came from me and my good friend Luis after our most recent upgrade.
          </li>
        </ul>
      </li>
      <li>
        Arianne's PC
        <ul>
          <li>
            This system is nearly identical to mine.
          </li>
          <li>
            Same major componets (CPU, GPU, Memory) with a few differences.
          </li>
          <li>
            The case is different and I've added a screen to my CPU pump block.
          </li>
        </ul>
      </li>
      <li>
        Luis's PC
        <ul>
          <li>
            Same as Arianne's PC, nearly identical with just a few minor differences.
          </li>
        </ul>
      </li>
    </ol>
  </div>


</body>

</html>