<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles.css">
  <link rel="icon" href="/favicon.ico" type="image/png">
  <title>Guestbook</title>
  <script src="scripts.js" type="module"></script>
</head>

<body>
  <div class="navigationBar">
    <a href="index.html">
      <div class="navButtons">
        Home
      </div>
    </a>
    <a href="page2.html">
      <div class="navButtons">
        Guestbook
      </div>
    </a>
    <a href="page3.html">
      <div class="navButtons">
        Links
      </div>
    </a>
    <a href="page4.html">
      <div class="navButtons">
        Gallery of Builds
      </div>
    </a>
    <a href="weather.html">
      <div class="navButtons">
        Weather
      </div>
    </a>
    <a href="catPics.html">
      <div class="navButtons">
        Animal Pics
      </div>
    </a>
  </div>
  <form action="/signBook" method="post">
    <fieldset>
      <legend>Guest Book</legend>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="first_name">

      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="last_name">

      <label for="yep">I understand this data isn't gonna be saved</label>
      <input type="checkbox" id="yep" name="dunno_what_to_use_this_for">
      <textarea name="description"></textarea>
      <div>
        <button type="submit">Sign!</button>
        <button type="reset">Reset!</button>
      </div>
    </fieldset>
  </form>


  <h3>People who've signed:</h3>
  <ul>
    #{signee}
  </ul>
</body>

</html>