<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles.css">
  <link rel="icon" href="/favicon.ico" type="image/png">
  <title>Links</title>
  <script src="scripts.js" type="module"></script>
</head>

<body>
  <div class="navigationBar">
    <a href="index.html">
      <div class="navButtons">
        Home
      </div>
    </a>
    <a href="page2.html">
      <div class="navButtons">
        Guestbook
      </div>
    </a>
    <a href="page3.html">
      <div class="navButtons">
        Links
      </div>
    </a>
    <a href="page4.html">
      <div class="navButtons">
        Gallery of Builds
      </div>
    </a>
    <a href="weather.html">
      <div class="navButtons">
        Weather
      </div>
    </a>
    <a href="catPics.html">
      <div class="navButtons">
        Animal Pics
      </div>
    </a>
  </div>

  <h1>Some Really Useful Links</h1>
  <div>
    <ul>
      <li><a href="http://mangadex.org" target="_blank">My favorite website to read manga</a></li>
      <li><a href="https://packetlosstest.com/" target="_blank">A really good packet loss tester</a></li>
      <li><a href="https://unraid.net/" target="_blank">Unraid, an awesome server OS</a></li>
      <li><a href="https://developer.mozilla.org/en-US/" target="_blank">Mozilla Developer Network, Saved my bacon a
          lot so far</a></li>
      <li><a href="https://music.youtube.com/" target="_blank">YouTube music is my jukebox of choice</a></li>
    </ul>
  </div>
  <div class="textDiv">
    <p>
      A note on the packet loss testing website. It's really useful when someone is saying they're having a hard time
      hearing you during some kind of voice call on your computer. Be it skype, discord, or some voip program.
    </p>
  </div>



</body>

</html>