<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title>Weather API Call</title>
    <link rel="icon" href="/favicon.ico" type="image/png">
    <script src="scripts.js" type="module"></script>
</head>

<body>
    <div class="navigationBar">
        <a href="index.html">
            <div class="navButtons">
                Home
            </div>
        </a>
        <a href="page2.html">
            <div class="navButtons">
                Guestbook
            </div>
        </a>
        <a href="page3.html">
            <div class="navButtons">
                Links
            </div>
        </a>
        <a href="page4.html">
            <div class="navButtons">
                Gallery of Builds
            </div>
        </a>
        <a href="weather.html">
            <div class="navButtons">
                Weather
            </div>
        </a>
        <a href="catPics.html">
            <div class="navButtons">
                Animal Pics
            </div>
        </a>
    </div>
    <div class="textDiv">
        <h1>Weather Page!</h1>

        <form action="enter-location" method="post">
            <fieldset>
                <label for="location">City, State, or Zip Code</label>
                <input type="text" id="location" name="api_location">
                <div>
                    <button type="submit">Get Weather</button>
                </div>
            </fieldset>
        </form>
        <div class="weather-box">
            <input type="text" disabled placeholder="${location}">
            <input type="text" disabled placeholder="${temp}">
            <input type="text" disabled placeholder="${condition}">
            <input type="text" disabled placeholder="${wind_speed}">
            <input type="text" disabled placeholder="${wind_dir}">
            <input type="text" disabled placeholder="${humidity}">
            <input type="text" disabled placeholder="${temp_feelsLike}">
            <span>
                Powered by <a href="https://www.weatherapi.com/" title="Weather API">WeatherAPI.com</a>
            </span>
        </div>
        <p>If you submit your location and get booted back to the home page, it's because the API returned an error and
            this was the fastest way to handle it. Maybe I'll do some input validation on the front end eventually but
            for now trying to break my server will just send you home.</p>
    </div>
    <footer></footer>
</body>

</html>