* {
  box-sizing: border-box;

}

a:link {
  color: white;
  text-decoration: none;

}
a:visited {
  color: white;
}
a:hover {
  color: red;
}
a:active {
  color: white;
}

p {
  text-align: center;
}
.navigationBar {
  margin-top: 35px; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  width: 100%; 
  gap: 15px; 

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-bottom: 15px; 
  box-shadow: 0px 10px 15px red;
}

body {
  width: 900px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(49, 49, 49);
  color: white;
}

fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 3px 5px red, -5px -3px 5px red;
  border: 0;
  border-radius: 10px;
  background-color: rgb(43, 43, 43);
}

img {
  box-shadow: 5px 5px 3px white, -5px -5px 3px white;
  border-radius: 3px;

}

label {
  margin-top: 20px;
}
.navButtons {
  display: flex;
  background-color: silver;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 75px;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px black;
  border-radius: 5px;
}

.textDiv{
  display: flex;
  width: 700px;
  gap: 15px; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(43, 43, 43);
  box-shadow: inset 5px 3px 5px red;
  padding: 15px;
}

.pictureBox {
  width: 901px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 10fr 1fr 10fr;
  align-items:flex-start;
  object-fit: cover;
  justify-items: center;
}

.pictureFrame {
  padding: 0;
  margin: 20px;
  border: 0;
}

footer {
  margin-top: 20px;
  width: 100%; 
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  border: 2px solid gray;
  border-radius: 2px;
  padding: 0 20px; 
}

.weather-box {
  display: flex;
  flex-direction: column;
  gap: 15px; 
  color: white;
  margin-top: 25px;
  background-color: black;
  padding: 25px;
  width: 100%;
}